<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Patient Home</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<h1>Welcome to iTrust2 - Patient</h1>

		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module("logsApp", []);
			app.controller('logsCtrl', function($scope, $http) {
				$scope.logs = [];
				secondary = [];
				$scope.pattern = /^\d{4}-\d{4}-\d{2}$/;
				$scope.loadTable = function() {
					$http.get("/iTrust2/api/v1/logentries").then(
						function(response) {
							$scope.logs = response.data;
							$scope.message = "";
						}, function(rejection) {
							$scope.logs = [];
							$scope.message = "Could not display logs";
						}
					);
					for(i = 0; i < $scope.logs.length; i++) {
						for(j = 0; j < secondary.length; j++) {
							if(secondary[j][0] == scope.logs[i].secondaryUser) {
								break;
							}
						}
						secondary[secondary.length][0] = $scope.logs[i].secondaryUser;
					}
					for(i = 0; i < secondary.length; i++) {
						$http.get("/iTrust2/api/v1/role/{secondary[i][0]}").then(
							function(response) {
								secondary[i][1] = response.data;
								$scope.message = "";
							}, function(rejection) {
								$scope.message = "error retrieving role";
							}
						);
					}
				}
				$scope.loadTable();
				function secondaryToRole(name) {
					for(i = 0; i < secondary.length; i++) {
						if(secondary[i][0] == name) {
							return secondary[i][1];
						}
					}
					return null;
				}
			});
			/*]]>*/
		</script>

		<div ng-app="logsApp" ng-controller="logsCtrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<nobr>
									<h3>Access Log - Recent Entries</h3>
									<p>
										Entries from: <input type="text" name="startDate"> to
										<input type="text" name="endDate">
									</p>
								</nobr>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Name</th>
											<th>Role</th>
											<th>Date and Time</th>
											<th>Transaction Type</th>
										</tr>
									</thead>
									<tbody>
										<tr name="logTableRow"
											ng-repeat="l in logs | limitTo:10 | orderBy:'-time'">
											<td name="nameCell">{{l.primaryUser}}</td>
											<td name="roleCell">{{secondaryToRole(l.secondaryUser)}}</td>
											<td name="timeCell">{{l.time}}</td>
											<td name="transactionTypeCell">{{l.logCode}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<form action="/iTrust2/patient/viewAllRecords">
			<input type="submit" value="View All Entries" />
		</form>
	</div>
</body>
</html>